* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid black;
    margin-bottom: 10px;
    padding-top: 25px;
    width: 80%;
}

.container .title{
    margin-bottom: 25px;
    text-align: center;
}

.container .title h1{
    font-weight: bold;
}

.box{
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;    
}

.container .box .sub-judul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input {
    margin: 5px 10px 0 0;
}

.container .box .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .box .result {
    
}